.city {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.area {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.time {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.cost {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}


.content-block-item-title {
    color: #E3B873;
    font-size: 18px;
    line-height: 24px;
}

.content-block-item-text {
    font-size: 13px;
    line-height: 21px;
    font-family: "Nunito Sans", sans-serif;
    margin-top: 9px;
}